{% extends 'base.html' %}

{% block title %} Sistema de gestão {% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <h1 class="home">SEJA BEM VINDO AO SISTEMA</h1>
        </div>

        <div class="col-12">
            <h1>{{ request.session.message }}</h1>
        </div>

        <div class="col-sm">
            {% if user.is_authenticated %}
                <p class="name">Olá, {{ user.username }}</p>
                <a class="btn btn-outline-primary" href="{% url 'logout' %}">Sair</a><br>
                <a class="btn btn-outline-primary" href="{% url 'password_change' %}">Alterar senha</a>

            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Entrar</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
