html {
  position: relative;
  min-height: 100%;
}
.footer{
    position: absolute;
    bottom: 0;
}
.footer p{
    color: #999;
    line-height: 25px;
}

.footer h2,h3{
    color: #fff;
}

.footer h2{
    font-size: 18px;
}

.footer-top{
    background-color: #FF8C00;
    padding: 80px 80px 10px 80px;
}
.segment-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}
.segment-two h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
    list-style: none;
}
.segment-two ul li a{
    color: #fff;
    text-decoration: none;
}
.segment-three h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
}
.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    color: #fff;
    text-transform: uppercase;
}
.footer-bottom-text{
    color: white;
    text-align: center;
    background: #FF4500;
    line-height: 75px;
    margin: 0px;
}

